<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li><a routerLink="/MIDI">MIDI</a></li>
  <li><a routerLink="/Messages">Messages</a></li>
  <li><a routerLink="/Sound">Sound</a></li>
</ul>

<router-outlet></router-outlet>  -->

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" routerLink = "/MIDI" > MIDI </a>
  <a class="navbar-brand" routerLink = "/Messages" > Messages </a>
  <a class="navbar-brand" routerLink = "/Sound" > Sound </a>
</nav>
<div>
  Hello!
</div>
<router-outlet></router-outlet> 

